services:
  postgres:
    image: postgres:17
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d postgres"]
      start_period: 5s
      timeout: 2s
      interval: 2s
      retries: 10
    volumes:
      - data:/var/lib/postgresql/data

  api:
    build: /api
    image: shuler7/todoapp-api:1.02
    environment:
      URL_DATABASE_POSTGRES: ${URL_DATABASE_POSTGRES}
    networks:
      - backend
      - frontend
    depends_on:
      postgres:
        condition: service_healthy

  web:
    build: /web
    image: shuler7/todoapp-web:1.02
    networks:
      - frontend
    ports:
      - "5173:5173"
    depends_on:
      - api

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge
    internal: true

volumes:
  data:
